/* Estilos adicionais para a página do filme */

.play-container-container {
    position: relative;
    max-width: 1060px;
    margin: 120px auto 0;
    padding: 0 20px;
}

.play-img {
    width: 105%;
    height: auto;
    border-radius: 0.5rem;
    margin-bottom: 15px;
    left: -2.5%;
}

.play-text {
    position: relative;
    bottom: 20px;
    left: 20px;
    color: var(--text-color);
    z-index: 1;
}

.play-text h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.rating {
    margin-bottom: 10px;
}

.tags {
    margin-bottom: 20px;
}


/* Fim dos estilos adicionais para a página do filme */

.about-filme{
    margin-top: -1.5rem;
}



/* sessão para elenco e textos da pagina de filmes  */
.about-filme h2{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--main-color);
}

.about-filme p{
    max-width: 600px;
    font-size: 0.938rem;
    margin: 10px 0;
}

.cast-heading{
    margin-top: -28px;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color:var(--main-color);
}

.cast{
    display: flex;
    grid-template-columns: repeat(auto-fit,minmax(150px, 150px));
    gap: 0.5rem;
}

.cast-img{
    width: 90px;
    height: 90px;
    display: block;
    object-fit: cover;
    object-position: center;
    max-height: 180px
}

.cast-title {
    font-size: 12px;
}

.cast-title p {
    font-size: 12px;
    margin-top: -0.5rem;
}

.rating {
    display: flex;
    align-items: center;
    column-gap: 2px;
    font-size: 1.1rem;
    color: rgb(235, 235, 40);
    margin-top: 3px;
}

.tags {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin: 1rem 0;
}

.tags span {
    background: var(--container-color);
    padding: 0 4px;
}

@keyframes animate {
    0% {
        box-shadow: 0 0 0 rgb(255, 180, 58, 0.7);
    }
    40% {
        box-shadow: 0 0 0 50px rgb(255, 193, 7, 0);
    }
    80% {
        box-shadow: 0 0 0 rgb(255, 193, 7, 0);
    }
    100% {
        box-shadow: 0 0 0 rgb(255, 193, 7, 0);
    }
}

/* BOTÃO ASSISTIR AO TRAILER INICIO */

.watch-btn {
    border: 2px solid var(--main-color);
    padding: 8px 16px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    max-width: 161px;
}

.watch-btn:hover {
    background-color: var(--main-color);
    color: white;
}

/* BOTÃO ASSISTIR AO TRAILER FINAL */


/* SINOPSE INICIO */

.sinopse {
    position: absolute;
    left: 500px;
    top: 465px;
    right: -20px; /* Ajuste conforme necessário */
    max-width: 500px; /* Ajuste conforme necessário */
}

.sinopse h2 {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--main-color);
    margin-bottom: 10px;
}

.sinopse p {
    color: var(--text-color);
    font-size: 0.938rem;
    margin: 10px 0;
}

/* SINOPSE FIM */
